<main class="section content__section">
  <ul class="btn__list">
    <li class="btn__item">
      <a target="_blank" class="btn__link" href="https://t.me/officialnau">
        <svg class="link-icon telegram" width="24" height="24">
          <use href="./svg/sprite.svg#icon-telegram"></use>
        </svg>
        <p class="btn__text">Telegram</p>
      </a>
    </li>
    <li class="btn__item">
      <a
        target="_blank"
        class="btn__link"
        href="https://www.facebook.com/officialnau"
        ><svg class="link-icon facebook" width="22" height="22">
          <use href="./svg/sprite.svg#icon-facebook"></use>
        </svg>
        <p class="btn__text">Facebook</p>
      </a>
    </li>
    <li class="btn__item">
      <a
        target="_blank"
        class="btn__link"
        href="https://www.youtube.com/@medianau"
        ><svg class="link-icon youtube" width="26" height="26">
          <use href="./svg/sprite.svg#icon-youtube"></use>
        </svg>
        <p class="btn__text">YouTube</p>
      </a>
    </li>
  </ul>

  <ul class="contact__list">
    <li class="contact__item">
      <p class="contact__text">
        Почта приймальної комісії:
        <a href="mailto:pk@nau.edu.ua" class="contact__link">pk@nau.edu.ua</a>
      </p>
    </li>
    <li class="contact__item">
      <p class="contact__text">
        Телефон приймальної комісії:
        <a href="tel:+380444974105" class="contact__link">
          +38 (044) 497 41 05</a
        >
      </p>
    </li>
  </ul>

  <ul class="btn__list btn__footer">
    <li class="btn__item">
      <a target="_blank" class="btn__link" href="https://nau.edu.ua/">
        Сайт НАУ
      </a>
    </li>
    <li class="btn__item">
      <a
        target="_blank"
        class="btn__link pk-link"
        href="https://pk.nau.edu.ua/"
      >
        Сайт приймальної комісії
      </a>
    </li>
  </ul>
</main>
