<section class="section content__section">
  <ul class="btn__list">
    <li class="btn__item">
      <a class="btn__link" href="https://t.me/officialnau">Telegram</a>
    </li>
    <li class="btn__item">
      <a class="btn__link" href="https://www.facebook.com/officialnau"
        >Facebook</a
      >
    </li>
    <li class="btn__item">
      <a class="btn__link" href="https://www.youtube.com/@medianau">YouTube</a>
    </li>
  </ul>

  <ul class="contact__list">
    <li class="contact__item">
      <p class="contact__text">Lorem ipsum, dolor sit amet</p>
    </li>
    <li class="contact__item">
      <p class="contact__text">Lorem ipsum, dolor sit amet</p>
    </li>
    <li class="contact__item">
      <p class="contact__text">Lorem ipsum, dolor sit amet</p>
    </li>
  </ul>

  <ul class="btn__list btn__footer">
    <li class="btn__item"><a class="btn__link" href=""></a></li>
    <li class="btn__item"><a class="btn__link" href=""></a></li>
  </ul>
</section>
