.btn__list {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: auto;
}

.btn__item {
  background-color: #557fae;
  border-radius: 15px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  transition: background-color 250ms linear, transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.2);
    background-color: #86a7cb;
  }
}

.btn__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 30px;

  color: #d7e8f1;

  &:hover,
  &:focus {
    .link-icon {
      &.telegram {
        fill: #279fdb;
      }
      &.facebook {
        fill: #1091f3;
      }
      &.youtube {
        fill: #ff0000;
      }
    }
  }
}

.link-icon {
  fill: #d7e8f1;
  margin-right: 11px;

  transition: fill 250ms linear;

  &.facebook {
    margin-right: 11px;
  }

  &.youtube {
    margin-right: 16px;
  }
}

.btn__footer {
  padding-top: 100px;
}
