.contact__list {
  padding-top: 40px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact__text {
  font-weight: 400;

  color: #27486f;

  font-size: 12px;
}

.contact__link {
  color: #27486f;
  text-decoration: underline;

  transition: color 250ms linear;

  &:hover {
    color: #7c97b9;
    -webkit-text-stroke: 0.2px #27486f;
  }
}
