.tile__putivnyk {
  display: flex;
  justify-content: center;

  text-transform: uppercase;

  color: transparent;

  font-weight: 700;
  font-size: 48px;
  -webkit-text-stroke: 1px #27486f;

  text-shadow: 3px 3px 1px #7c97b9;
  letter-spacing: 1px;
}

.tile__chanels {
  display: flex;
  justify-content: center;

  color: #27486f;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
